.video {
  padding: 94px 0 95px;
}
.video__title {
  margin-top: 46px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  line-height: 43px;
  color: #000000;
  font-weight: 600;
  font-size: 36px;
}
.video__subtitle {
  padding-top: 24px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  line-height: 140%;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 10px;
}
.video__LearnMore {
  font-family: "Lato", sans-serif;
  font-style: normal;
  line-height: 140%;
  color: #ED4C5C;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
}
.video__subtitle {
  width: 90%;
}
.video__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.video__col-6 {
  height: 311px;
  position: relative;
}
.video__col-6_second {
  background: url("../images/video/Video_bg.png") top left/100% 100% no-repeat;
}
.video__btn {
  width: 66px;
  height: 66px;
  background: #ED4C5C;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: white;
}