$Lato : 'Lato',sans-serif;
@mixin text($fw,$fs,$lh,$c){
    font-family: $Lato;
    font-style: normal;
    line-height: $lh;
    color: $c;
    font-weight: $fw;
    font-size: $fs;
}

.header{
    height: 100px;
    width: 100%;
    position: absolute;


    &__nav{
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        
    }
    &__img{
        width:24px;
        height:17px;
    }
    &__logo{
        display: flex;
        column-gap: 9.9px;
    }
    &__title{
        font-family: 'Lato',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__menu{
        display: flex;
        column-gap: 25px;
    }
    &__item, &__item a{
        text-transform: uppercase;
        list-style-type: none;
        font-family: 'Lato',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        list-style-type: none;
        text-decoration: none;
        color: #FFFFFF;
    }
    &__form{
        display: flex;
        column-gap: 28.81px;
        align-items: center;
    }
    &__btn{
        height: 40px;
        width: 100px;
        border: 1px solid #FFFFFF;
        border-radius: 6px;
        background-color: transparent;
        font-family: 'Lato',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__langSelect{
        width: 96px;
        height: 32px;
        padding-left: 43px;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        font-family: 'Lato',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__lang{
        color: white;
        background-color: saddlebrown;
    }


}
.dd-option-text{
    @include text(400,14px,17px,#FFFFFF);
}

.dd-selected {
    overflow: hidden;
    display: block;
    margin-right: 26px;
    @include text(400,14px,17px,#FFFFFF);
}

.dd-options li{
    margin-top: 10px;
}