$Lato : 'Lato',sans-serif;
@mixin text($fw,$fs,$lh,$c){
    font-family: $Lato;
    font-style: normal;
    line-height: $lh;
    color: $c;
    font-weight: $fw;
    font-size: $fs;
}
.video{
    padding: 94px 0 95px;
    &__title{
        margin-top: 46px;
        @include text(600,36px,43px,#000000);
    }
    &__subtitle{
        padding-top: 24px;
        @include text(400,14px,140%,#000000);
        padding-bottom: 10px;
        
    }
    &__LearnMore{
        @include text(400,14px,140%,#ED4C5C);
        text-decoration: none;
    }

    &__subtitle{
        width: 90%;
    }

    &__row{
        display: flex;
    }
    &__col-6{
        height: 311px;
        position: relative;
        &_second{
            background: url('../images/video/Video_bg.png') top left/100% 100% no-repeat;
        }
    }

    &__btn{
        width: 66px;
        height: 66px;
        background: #ED4C5C;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        
    }
}